<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar brb" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-reorder"></span>
                        </button>
          <a class="navbar-brand" [routerLink]="['/','home']"><img src="./assets/img/book.png" /></a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <div class="nav navbar-nav pull-right">
            <select (change)="onLanguageChange($event);">
                            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
                            </select>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="row" *ngIf="inValid">
  <div class="col-md-12">
    <!--Invalid url-->
    <div class="bg-img-num1">
      <div class="container">
        <div class="login-block">
          <div class="block block-drop-shadow">
            <div class="head bg-dot20">
              <div class="head">
                <div class="user">
                  <div class="info user-change" style="opacity: 1;">
                    <img src="./assets/img/InVaild.png" class="img-circle img-thumbnail">
                  </div>
                </div>
              </div>
              <div>
                <h1 class="text-center">{{ 'ResetPass.Invaild URL' | translate }} </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="valid">
  <div class="col-md-12">
    <!--valid url-->
    <div class="bg-img-num1">
      <div class="container">
        <div class="login-block">
          <div class="block block-drop-shadow">
            <div class="head bg-dot20">
              <div class="head">
                <div class="user">
                  <div class="info user-change" style="opacity: 1;">
                    <img src="./assets/img/ResetPassword.png" class="img-circle img-thumbnail">
                  </div>
                </div>
              </div>
              <div>
                <form [formGroup]="myResetPasswordFrom" (ngSubmit)="onResetPassword()">
                  <div class="form-row user-change-row" style="display: block;">
                    <div class="col-md-12">
                      <div class="input-group">
                        <div class="input-group-addon">
                          <span class="icon-user"></span>
                        </div>
                          <input type="password" class="form-control" placeholder="{{ 'Login.Password' | translate }}" formControlName="Password">
                      </div>
                      <control-messages [control]="myResetPasswordFrom.controls.Password"></control-messages>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <div class="input-group-addon">
                          <span class="icon-key"></span>
                        </div>
                         <input type="password" class="form-control" placeholder="{{ 'Register.Confirm Password' | translate }}" formControlName="ConfirmPassword">
                      </div>
                      <control-messages [control]="myResetPasswordFrom.controls.ConfirmPassword"></control-messages>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6">
                       <button type="Submit" [disabled]="!myResetPasswordFrom.valid" class="btn btn-success btn-block">{{ 'ResetPass.Submit' | translate }}</button>
                    </div>
                    <div class="col-md-6">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>