<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a [routerLink]="['/admin','dashboard']">{{'Menu.Dashboard' | translate }}</a></li>
        <li class="active">{{'Permission.Permission Management' | translate }}</li>
      </ol>
    </div>
  </div>
   <div class="row">
    <div class="col-md-4">
      <div class="header">
        <h2 *ngIf="action">{{'Permission.Add Permission' | translate }}</h2>
         <h2 *ngIf="!action">{{'Permission.Update Permission' | translate }}</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="block block-drop-shadow">
            <div class="head bg-dot20">
              <form [formGroup]="myPermissionFrom" (ngSubmit)="onUserPermission()">
                <div class="form-row user-change-row" style="display: block;">
                  <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="{{'Permission.Permission Name' | translate }}" formControlName="per_name">
                    <control-messages [control]="myPermissionFrom.controls.per_name"></control-messages>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12">
                    <textarea type="text" rows="5" class="form-control" placeholder="{{'Permission.Permission Description' | translate }}" formControlName="per_description"></textarea>
                    <control-messages [control]="myPermissionFrom.controls.per_description"></control-messages>
                  </div>
                </div>
                 <div class="form-row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="{{'Permission.Permission Rest URL' | translate }}" formControlName="per_rest_url">
                    <control-messages [control]="myPermissionFrom.controls.per_rest_url"></control-messages>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6 pull-right">
                    <div class="col-md-6" *ngIf="action">
                      <button type="Submit" [disabled]="!myPermissionFrom.valid" class="btn btn-success btn-block">{{'UserRole.Add' | translate}}</button>
                    </div>
                      <div class="col-md-6" *ngIf="!action">
                      <button type="Submit" [disabled]="!myPermissionFrom.valid" class="btn btn-success btn-block">{{'UserRole.Update' | translate}}</button>
                    </div>
                    <div class="col-md-6">
                      <button type="button" (click)="resetcontrol();" class="btn btn-danger btn-block">{{'UserRole.Reset' | translate }}</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="header">
        <h2>{{'Permission.User Permission List' | translate }}</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <div class="content">
                <div class="row">
                <div class="col-md-12">
                  <div class="col-xs-2">
                    <label class="label-control">{{'UserRole.Rows on page' | translate }}</label>
                    <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>
                </select>
                  </div>
                  <div class="col-xs-5 pull-right">
                    <label class="label-control">{{'UserRole.Search' | translate }}:</label>
                    <input class="form-control input-sm" [(ngModel)]="filterQuery" placeholder="{{'UserRole.Search' | translate }}" />
                  </div>
                </div>
              </div>
              <table class="table table-striped" [mfData]="data | dataPermissionFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                  <tr>
                    <th style="width:20%">
                       <mfDefaultSorter by="per_name">{{'Permission.Permission Name' | translate }}</mfDefaultSorter>
                    </th>
                    <th style="width:30%">
                      <mfDefaultSorter by="per_description">{{'Permission.Permission Description' | translate }}</mfDefaultSorter>
                    </th>
                    <th style="width:30%">
                      <mfDefaultSorter by="per_rest_url">{{'Permission.Permission URL' | translate }}</mfDefaultSorter>
                      </th>
                    <th style="width:20%">{{'Menu.Action' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of mf.data">
                    <td>{{item.per_name}}</td>
                    <td>{{item.per_description}}</td>
                    <td>{{item.per_rest_url}}</td>
                    <td>
                      <button class="widget-icon widget-icon-edit" (click)="onPermissionEdit(item.per_id,item.per_name,item.per_description,item.per_rest_url);">
                      <span class="icon-edit"></span>
                    </button>
                      <button class="widget-icon widget-icon-delete" (click)="onPermissionDelete(item.per_id);">
                      <span class="icon-trash"></span>
                    </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4" style="text-align: right">
                      <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <modal #myDeleteModal class="modal modal-white">
    <modal-header [show-close]="true">
      <h4 class="modal-title">{{'Permission.Delete Permission' | translate }}</h4>
    </modal-header>
    <modal-body>
     {{'Permission.Are you sure you want to delete this Permission?' | translate }} 
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modal.dismiss()">{{'UserRole.Cancel' | translate }}</button>
      <button type="button" class="btn btn-danger" (click)="onDelete()">{{'UserRole.Delete' | translate }}</button>
    </modal-footer>
  </modal>
</div>

